<div class="container-sidebar">
    <div class="container-home-category">
      <h4>分类</h4>
      <% site.categories.each(function (tag) { %>
          <ul>
              <li><a href="<%- url_for(tag.path) %>"><%-tag.name%></a></li>
          </ul>
      <% }) %>
    </div>
    <div class="container-home-tags">
      <h4>标签</h4>
      <% site.tags.each(function (tag) { %>
          <ul>
              <li><a href="<%- url_for(tag.path) %>"><%-tag.name%></a></li>
          </ul>
      <% }) %>
    </div>
</div>